<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DelphiToCSTranslator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <DelphiToCSTranslator.Properties.Settings>
            <setting name="InPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OutPath" serializeAs="String">
                <value />
            </setting>
            <setting name="StdLibraries" serializeAs="String">
                <value />
            </setting>
            <setting name="PatchPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OverridePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ILPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GroupProjPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreLibraries" serializeAs="String">
                <value />
            </setting>
        </DelphiToCSTranslator.Properties.Settings>
    </userSettings>
</configuration>
